
.loginForm {
    align-items: center;
    width: 80%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.loginForm .checkbox {
    font-weight: 400;
}

.loginForm .form-floating:focus-within {
    z-index: 2;
}

.loginForm input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.loginForm input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
